<!DOCTYPE html> 


<head>
    <title>LOGIN TEST</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>

<body>
<h1>LOGIN TEST:</h1>
<p>Login options listed below enter selection in option box</p>
<p>WARNING: DO NOT TRY DELETING ACCOUNT RIGHT AFTER ADDING IT</p>
<ol class = "command list">
    <li>Regular Login</li>
    <li>Add User</li>
    <li>Remove User</li>
</ol>
<form method="post">
    Option:<br> <input type = "text" name = "choice" id = "option">
    <br>
    Username:<br> <input type = "text" name = "username" id = "a">
    <br>
    Password:<br> <input type = "text" name = "password" id = "b">
    <br>
    Do You Want Data:<br> <input type = "text" name = "dataChoice" id = "w">
    <br>
    New User:<br> <input type = "text" name = "newUs" id = "c">
    <br>
    New Password:<br> <input type = "text" name = "newPw" id = "d">
    <br>
    City:<br> <input type = "text" name = "newMsgOne" id = "e">
    <br>
    State/Province:<br> <input type = "text" name = "newMsgTwo" id = "f">
    <br>
    Delete User:<br> <input type = "text" name = "deletion" id = "g">
    <br>
    <input type="submit" value="Submit">
    <p id = "secOne"></p>
    <p id = "secTwo"></p>
</form>
</body>